<html>
    <head>
        <title>Itulaoo</title>
    </head>
    <body>
        <div>
            <h1><a href="">Italo's Blog</a></h1>
        </div>

        <div>
            <p>Postado Hoje</p>
            <h2><a href="">Minha Primeira Postagem</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>Postado Hoje</p>
            <h2><a href="">Minha Segunda Postagem</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>